
<h1>Edit Author</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Save</button>
{{ form_end(form) }}

<a href="{{ path('app_author_getall') }}" class="btn btn-secondary">List Author</a>
